[submodule "vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen

[submodule "vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible

[submodule "vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go

[submodule "gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
